<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body id = "edit-body">


   
    <div class = 'panel' id = 'edit'>  

        <form action ='/transactions/<%= transaction._id %>?_method=DELETE' method = 'POST' id = 'form-delete'>

            <button id ="delete">Delete This Transaction</button>
        </form>



    <h1>Edit</h1>

    <form action = '/transactions/<%= transaction._id %>?_method=PUT' method ="POST" id = 'edit-form' >
        <label for = "transaction">Transaction:</label>
       <select id ='transaction' name ='transaction'>
        <option value = '+'>+</option>
        <option value = '-'>-</option>



       </select>
        
        <div class= 'input-box-edit'>
        <label for = "amount">Amount:</label>
        <input type="text" name ="amount" id ="amount" value="<%=transaction.amount%>" required>
    </div>
    <div class= 'input-box-edit'>
        <label for = "company">Company:</label>
        <input type="text" name ="company" id ="company" value="<%=transaction.company%>">
    </div>
       
    
        <label for = "category" value="<%=transaction.category%>">Category:</label>
        <select id="category" name="category">
            
             <option value="Food"  <%= transaction.category === "Food" ? "selected" : "" %>
                >Food</option>
            <option value="Entertainment"  <%= transaction.category === "Entertainment" ? "selected" : "" %>
                >Entertainment</option>
            <option value="Mortgage/Rent"  <%= transaction.category === "Mortgage/Rent" ? "selected" : "" %>
                >Mortgage/Rent</option>
            <option value="Subscription"  <%= transaction.category=== "Subscription" ? "selected" : "" %>
                >Subscription</option>
            

        </select>
    </br>
        

    
    </form>


    <button form = 'edit-form' id="submit-edit"> Submit Edit</button> 
    
    </div>
    
    


</body>
</html>