<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transactions</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <nav id = 'trans-nav'>
   
    <% if(user) { %>
      
     
      <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
      <a href="/auth/sign-in">Sign In</a>
      <a href="/auth/sign-up">Sign Up</a>
    <% } %>
  </nav>
  

 <body id="transaction-body">



  <div id="chart">
    <div>
        <canvas id="myChart"></canvas>
      </div>
    </div>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
      <script>

        
const data= ([<%=chartCategories.food%>, <%=chartCategories.entertainment%>, <%=chartCategories.housing%>, <%=chartCategories.subscriptions%>, <%=chartCategories.utilities%>, <%=chartCategories.health%>, <%=chartCategories.debt%>]);


        
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['Food', 'Entertainment', 'Housing', 'Subscriptions', 'Utilities', 'Health', 'Debt'],
            datasets: [{
              label: '$',
              data: data,
              borderWidth: 1,
              
            }]
          },
          options: {
            plugins: {
              title: {
                display: true,
                text: 'Monthly Spending',
                font: {
                  size: 25
                }
              },
              
              legend: {
                position: false,
                maxHeight: 500,
              },
              }
              

            }
            }
          
        );

       
      </script>


<!-- <%=chartCategories.food%> -->



   
        <a href="/transactions/new"  id = 'new-trans-anchor'> <button id ='trans-button'>Add New Transaction</button> </a>
      


    <div class="transactions">
        <section>
        <div id = "transaction-legend">

            <div>Time</div>
            <div> Amount </div>
          <div>Company</div>
            <div> Category</div> 
            
            
            <div id = 'legend-edit'>Details</div>
            <div>Edit/Delete</div>
          </div>
          
        
     

      <ol>
        <% transactions.forEach((transaction) => {%>

        <li value="">
          <div id="transaction-date">
            <%= now.getMonth()%>/<%=now.getDate();%> <% if (now.getHours() > 12) {%>
                <%=now.getHours()-12%>:<%=now.getMinutes()%> PM

                <%}%>
          </div>
          
          <% if (transaction.transaction=='-'){%>
       <div id="transaction-negative"> $<%=transaction.amount%> </div>
        
        <%} else {%>
            <div id="transaction-positive"> $<%=transaction.amount%> </div>
            <%}%>

          
          <div id ='transaction-company'>
          <%=transaction.company%>
        </div>
        <div id ="transaction-category">
            <%=transaction.category%>

        </div>

        <div id="transaction-details">
          <p><%=transaction.details%></p>
        </div>

       <div id="edit-buttons">
        <div id ="edit-link">
          <a href="transactions/<%=transaction._id%>/edit">Edit</a>
        </div>
        <form action ='/transactions/<%= transaction._id %>?_method=DELETE' method = 'POST' >
          <button id ="delete"><i class='bx bx-trash bx-sm' ></i> </button>
        </div>

        </form>
        </li>

        <%})%>
      </ol>
    
</section>
</div>
  </body>
</html>
